.landing{
    overflow-x: hidden;
}
.landing .landingTitle .col-lg-8{
    padding: 4% 5%;
}
.landing .landingTitle .col-lg-4{
    padding: 4% 5%;
}
.landing .landingTitle .card-img-top{
    width:70%;
    margin: 0 auto;
}
.landing .features{
    padding: 4% 5% 2%;
    background-color: #FF4F5A;
    width: 100vw;
    color: white;
}
.landing .landingTitle .col-md-3{
    margin:2% 4%;
    border-width: 0;
    background-color: #FF4F5A;
}
.landing .aboutUs{
    padding: 4%;
    font-size: 25px;
}
.landing .aboutUs h1{
    margin-bottom: 1%;
}
.landing footer{
    padding: 5%;
    font-size: 25px;
    height: 20vh;
    background-color: #343A40;
    color: white;
}
@media (max-width:600px){
    .landing .row{
        margin: 0;
    }
    .landing h3{
        font-size: 20px;
    }
    .landing .aboutUs, .landing .siteDesc{
        font-size: 16px;
        margin: 5%;
    }
    .landing .features{
        padding: 10%;
        padding-bottom: 4%;
    }
}